.ProductHeading{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color:rgb(238, 56, 208);
    background-color:rgb(127, 237, 108);
    border-radius: 25px;
    padding-left: 10px;
}
.productlist{
    background-color: antiquewhite;
    box-shadow: black 1px 2px 3px;
    
}